<!DOCTYPE html>
<html>
  <head>
    <title>NewRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrap">

      <div id="header">

        <h1>NetStyles1</h1>

        <div id="menu">

          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <form action="" method="post" id="searchbox">
            <input type="text" name="query" value="Search" size="25" onclick="this.value=''" />
            <input class="noshow" type="submit" value="Search" />
          </form>

        </div>

      </div>

      <div id="main">

        <div id="submain">

          <div id="left">
            <%= yield %>

          </div>

        </div>

      </div>

      <div id="footer">

        <div id="subfooter">

          <p>&copy; 2007 Your Company, All Rights Reserved | Design by <a href="http://www.xhtmlpro.com/">xHTMLpro.com</a></p>
          <p><a href="#">Lorem Ipsum</a> | <a href="#">Dolor Sit</a> | <a href="#">Amet Consectetuer</a> | <a href="#">Adipiscing Elit</a> | <a href="#">Whatever</a></p>

        </div>

      </div>

    </div>
  </body>
</html>
